// _reset.scss
// --------------------------------------------------------->
// COLORS
// --------------------------------------------------------->
		$grey:#363636;
		$tenpx:10px;
// --------------------------------------------------------->
// FONTS
// --------------------------------------------------------->
		$cinzel:'Cinzel Decorative', cursive;
		$helvetica: Helvetica;
		$tinos:'Tinos', serif;

